<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yannickschuchmann.peng.app" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".views.activities.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".views.activities.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".views.activities.RankingActivity"
            android:label="@string/title_activity_ranking"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".views.activities.NewDuelActivity"
            android:label="@string/title_activity_new_duel"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".views.activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".views.activities.DuelActivity"
            android:label="@string/title_activity_duel"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".views.activities.NewDuelFriendsActivity"
            android:label="@string/title_activity_new_duel_friends"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".views.activities.CharacterPagerActivity"
            android:label="@string/title_activity_characters_pager"
            android:screenOrientation="portrait" >
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="5b7e0d769d964b77bc2dbea10d81dbde3b5d72ef" />

        <activity
            android:name=".views.activities.AuthActivity"
            android:label="@string/title_activity_auth" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
